NODE_ENV=development
PORT=3000

DEBUG="true"
DEBUG_GUARDS="true"

DATABASE_URL="postgresql://user:pwd@localhost:5432/dbname?schema=public"

ADMIN_EMAIL="admin@example.com"
# hashed('admin') = '$2a$10$kSbH1fEQwsxsNh1Bru9mi.lVue6S7IASPHlOYlo1VxuEnQyFRY00y'
ADMIN_PASSWORD="$2a$10$kSbH1fEQwsxsNh1Bru9mi.lVue6S7IASPHlOYlo1VxuEnQyFRY00y"
ADMIN_PSEUDO="admin_pseudo"
ADMIN_ROLE_ID=3

JWT_EXPIRE=3600
JWT_SECRET="MO?-Sup3r-SEcr@t-4-m0!"