NODE_ENV="production"
PORT=3000

# For docker compose, in order to set up credentials and tabe for postgres container
POSTGRES_USER="username"
POSTGRES_PASSWORD="mdp"
POSTGRES_DB="db_name"

DEBUG="true"
DEBUG_GUARDS="true"

ADMIN_EMAIL="admin@example.com"
# ADMIN_PASSWORD="$2a$1sqdqsdqsdsqdqsdsNh1Bru9mi.lVueqsdqsdqsdqsdqsd"
ADMIN_PASSWORD="$2a$1qsdqsdsqdqsqNVA4.Ouj74O8z1Uqqsdsqdqsdqsdsqdqsd"
ADMIN_PSEUDO="admin_pseudo"
ADMIN_ROLE_ID=3

JWT_EXPIRE=3600
JWT_SECRET="MY-SECRET-888"   

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"

