/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field {
    margin-right: 8px;
}

.blue-snackbar {
    background: #2196f3;
}
.green-snackbar {
    background: #1de9b6;
}
.red-snackbar {
    background: #b00020;
}

